# Handling data normalization
for easy comparison
1. Min-Max normalization

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Create a dummy dataset
data = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'value': [10, 20, 30, 40, 50]
})

In [3]:
# Perform min-max normalization
data['value_norm_minmax'] = (data['value'] - data['value'].min()) / (data['value'].max() - data['value'].min())

In [4]:
# Perform z-score normalization
data['value_norm_zscore'] = (data['value'] - data['value'].mean()) / data['value'].std()

In [5]:
# Perform log normalization
data['value_norm_log'] = np.log(data['value'])

In [6]:
# Perform power normalization with a = 0.5
data['value_norm_power'] = np.sign(data['value']) * np.power(np.abs(data['value']), 0.5)

# Print the resulting dataframe
print(data)

   id  value  value_norm_minmax  value_norm_zscore  value_norm_log
0   1     10               0.00          -1.264911        2.302585  \
1   2     20               0.25          -0.632456        2.995732
2   3     30               0.50           0.000000        3.401197
3   4     40               0.75           0.632456        3.688879
4   5     50               1.00           1.264911        3.912023

   value_norm_power
0          3.162278
1          4.472136
2          5.477226
3          6.324555
4          7.071068

# Deletion

In [7]:
# create a dataframe with missing values
df =pd.DataFrame({
    'col1':[1,2,np.nan,4,5],
    'col2':[6, np.nan,8,9,10],
    'col3':[11,12,13,np.nan,15]
})
# display the dataframe
print("Original data: \n", df)

# list-wise deletion
new_df=df.dropna()
print('\n DataFrame after listwise deletion: \n',new_df)

# Pair-wise deletion 
new_df=df.dropna(axis=0,subset=['col1','col2'])
print('\n Dataframe after pairwise deletion: \n', new_df)

# Column -wise deletion
new_df=df.dropna(axis=1)
print('\nDataFrame after columnwise deletion: \n',new_df)

# My-wise deletion
new_df=df.dropna()['col1']
print('\n DataFrame after mywise deletion: \n',new_df)

Original data:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   NaN   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

 DataFrame after listwise deletion:
    col1  col2  col3
0   1.0   6.0  11.0
4   5.0  10.0  15.0

 Dataframe after pairwise deletion:
    col1  col2  col3
0   1.0   6.0  11.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

DataFrame after columnwise deletion:
 Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

 DataFrame after mywise deletion:
 0    1.0
4    5.0
Name: col1, dtype: float64

# Imputation (Fillup)
Mode is used to fillup the category value

In [8]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer
from sklearn.linear_model import LinearRegression

# create a dataframe with missing values
df = pd.DataFrame({
    'col1': [1, 2, np.nan, 4, 5],
    'col2': [6, np.nan, 8, 9, 10],
    'col3': [11, 12, 13, np.nan, 15]
})

# display the dataframe
print("Original data:\n", df)

# Mean Imputation
new_df = df.copy()
mean_value = new_df['col1'].mean()
new_df['col1'].fillna(value=mean_value, inplace=True)
print("\nMean Imputation:\n", new_df)

# Median Imputation
new_df = df.copy()
median_value = new_df['col1'].median()
new_df['col1'].fillna(value=median_value, inplace=True)
print("\nMedian Imputation:\n", new_df)

# Mode Imputation
new_df = df.copy()
mode_value = new_df['col1'].mode()[0]
new_df['col1'].fillna(value=mode_value, inplace=True)
print("\nMode Imputation:\n", new_df)

Original data:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   NaN   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

Mean Imputation:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   3.0   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

Median Imputation:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   3.0   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

Mode Imputation:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   1.0   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

In [9]:
# Regression Imputation
new_df = df.copy()
model = LinearRegression()
x_train = new_df.dropna()[['col2', 'col3']]  # data points without missing values
y_train = new_df.dropna()['col1']  # target variable without missing values
print("Original data:\n", df)
print("-------")
print(x_train)
print("--------")
print(y_train)
print("--------")
model.fit(x_train, y_train)
print(new_df['col1'].isna())
print("-------")
print("------")
print(new_df[new_df['col1'].isna()])
x_test = new_df[new_df['col1'].isna()][['col2', 'col3']]  # data points with missing values
print("--------")
print(x_test)

Original data:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   NaN   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0
-------
   col2  col3
0   6.0  11.0
4  10.0  15.0
--------
0    1.0
4    5.0
Name: col1, dtype: float64
--------
0    False
1    False
2     True
3    False
4    False
Name: col1, dtype: bool
-------
------
   col1  col2  col3
2   NaN   8.0  13.0
--------
   col2  col3
2   8.0  13.0

In [10]:
print(df['col1'].isnull())
print("****")
print(new_df.loc[df['col1'].isnull()])
print("----")
print(new_df.loc[df['col1'].isnull(), 'col1'])
print("+++++")
new_df.loc[df['col1'].isnull(), 'col1'] = model.predict(x_test)
print("\nRegression Imputation:\n", new_df)

0    False
1    False
2     True
3    False
4    False
Name: col1, dtype: bool
****
   col1  col2  col3
2   NaN   8.0  13.0
----
2   NaN
Name: col1, dtype: float64
+++++

Regression Imputation:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   3.0   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

In [11]:
# Hot-Deck Imputation
new_df = df.copy()
print(new_df['col1'].isnull())
print("-----")
print(np.where(new_df['col1'].isnull())[0])
print("-------")
missing_index = np.where(new_df['col1'].isnull())[0]
for i in missing_index:
    new_df.iloc[i, 0] = new_df.iloc[i-1, 0]  # fill missing values with value of the previous observation
print("\nHot-Deck Imputation:\n", new_df)

# K-Nearest Neighbors (KNN) imputation
imputer = KNNImputer(n_neighbors=2)
df_impute_knn = pd.DataFrame(imputer.fit_transform(df), columns=df.columns) 
# fit transform means fit then predict then transform
print("\nK-Nearest Neighbors (KNN) imputation:\n", df_impute_knn) # New dataframe

0    False
1    False
2     True
3    False
4    False
Name: col1, dtype: bool
-----
[2]
-------

Hot-Deck Imputation:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   2.0   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

K-Nearest Neighbors (KNN) imputation:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   7.0  12.0
2   3.0   8.0  13.0
3   4.0   9.0  14.0
4   5.0  10.0  15.0

# Prediction

In [12]:
import pandas as pd
from sklearn.linear_model import LinearRegression

# create a dataframe with missing values
df = pd.DataFrame({
    'col1': [1, 2, np.nan, 4, 5],
    'col2': [6, np.nan, 8, 9, 10],
    'col3': [11, 12, 13, np.nan, 15]
})
print("Original data:\n", df)

model = LinearRegression()
x_train = df.dropna()[['col2', 'col3']]  # data points without missing values
y_train = df.dropna()['col1']  # target variable without missing values
model.fit(x_train, y_train)
x_test = df[df['col1'].isnull()][['col2', 'col3']]  # data points with missing values
df.loc[df['col1'].isnull(), 'col1'] = model.predict(x_test)  # fill missing values with predicted values
print("\nData after handling missing values:\n", df)

Original data:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   NaN   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

Data after handling missing values:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   3.0   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

# Interpolation

In [13]:
import pandas as pd
from scipy import interpolate

# create a dataframe with missing values
df = pd.DataFrame({
    'col1': [1, 2, np.nan, 4, 5],
    'col2': [6, np.nan, 8, 9, 10],
    'col3': [11, 12, 13, np.nan, 15]
})
print("Original data:\n", df)

df.interpolate(inplace=True)  # linear interpolation
print("\nData after Interpolation:\n", df)

Original data:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   NaN  12.0
2   NaN   8.0  13.0
3   4.0   9.0   NaN
4   5.0  10.0  15.0

Data after Interpolation:
    col1  col2  col3
0   1.0   6.0  11.0
1   2.0   7.0  12.0
2   3.0   8.0  13.0
3   4.0   9.0  14.0
4   5.0  10.0  15.0