# Handling Duplicates
data series or data column lai ki condition diney ki function apply garney

In [1]:
import pandas as pd
# Create a sample dataset with duplicate values
data = {'A':['foo','bar','foo','baz','qux','bar','foo'],
       'B':[1,2,3,4,5,6,7],
       'C':[10,20,30,40,50,60,70]}
df = pd.DataFrame(data)

# Print the original dataframe
print('Original dataframe: ')
print(df)

Original dataframe:
     A  B   C
0  foo  1  10
1  bar  2  20
2  foo  3  30
3  baz  4  40
4  qux  5  50
5  bar  6  60
6  foo  7  70

In [2]:
# Drop duplicates
gh=df.drop_duplicates(subset=['A']) # inplace=False
print('\nDataFrame after duplicates: ')
print(gh)

DataFrame after duplicates:
     A  B   C
0  foo  1  10
1  bar  2  20
3  baz  4  40
4  qux  5  50

In [3]:
df

     A  B   C
0  foo  1  10
1  bar  2  20
2  foo  3  30
3  baz  4  40
4  qux  5  50
5  bar  6  60
6  foo  7  70

In [4]:
# Aggregate duplicates
agg_df=df.groupby(['A']).mean()
print("\nDataframe after aggregation duplicates")
print(agg_df)

Dataframe after aggregation duplicates
            B          C
A
bar  4.000000  40.000000
baz  4.000000  40.000000
foo  3.666667  36.666667
qux  5.000000  50.000000

In [5]:
# Keep the first occurance
first_df=df.drop_duplicates(subset=['A'], keep='first')
print('\nDataFrame after keeping the first occurance')
print(first_df)

DataFrame after keeping the first occurance
     A  B   C
0  foo  1  10
1  bar  2  20
3  baz  4  40
4  qux  5  50

In [6]:
# Keep the last occurance
last_df=df.drop_duplicates(subset=['A'], keep='last')
print('\nDataFrame after keeping the last occurance')
print(last_df)

DataFrame after keeping the last occurance
     A  B   C
3  baz  4  40
4  qux  5  50
5  bar  6  60
6  foo  7  70

In [7]:
# Mark duplicates
df['duplicate']=df.duplicated(subset=['A'])
print('\nDataframe after making duplicates: ')
print(df)

Dataframe after making duplicates:
     A  B   C  duplicate
0  foo  1  10      False
1  bar  2  20      False
2  foo  3  30       True
3  baz  4  40      False
4  qux  5  50      False
5  bar  6  60       True
6  foo  7  70       True

# Handling incorrect data
data series or data column lai ki condition diney ki function apply garney

In [8]:
# Create a dummy dataset
import numpy as np
data=pd.DataFrame({
    'id':[1,2,3,4,5],
    'name': ['john','jane','bane','alice','david'],
    'age':[25,-35,42,19,37],
    'gender':['M','F','F','F','Z'],
    'income':[50000,52223,np.nan,'30000',6556565]
})
print("Dataset before Handling Incorrect values")
print(data)

Dataset before Handling Incorrect values
   id   name  age gender   income
0   1   john   25      M    50000
1   2   jane  -35      F    52223
2   3   bane   42      F      NaN
3   4  alice   19      F    30000
4   5  david   37      Z  6556565

In [9]:
# Identify incorrect data
incorrect_age=data[(data['age']<=0 | (data['age']>100))] #condition
# print(data[(25)])
print(type(incorrect_age))
incorrect_gender=data[~data['gender'].isin(['M','F'])] # ~ only if result is in boolean and make opposite can be made ~data[data]
incorrect_income=data[~data['income'].apply(lambda x: isinstance(x,(int,float)))]
print(type(incorrect_income))
# telda: if both incorrect then throws error, cuz one is already deleted and second one also wants to delete
# but there is nothing on that location so throws error

# Delete incorrect data row
data=data.drop(incorrect_age.index)
print('\nDataset after handling incorrect age: \n',data)
data=data.drop(incorrect_gender.index)
print('\nDataset after handling incorrect gender: \n',data)
data=data.drop(incorrect_income.index)
print('\nDataset after handling incorrect income: \n',data)

# Display the cleaned dataset
print('\nDataset after handling incorrect values')
print(data)

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

Dataset after handling incorrect age:
    id   name  age gender   income
0   1   john   25      M    50000
2   3   bane   42      F      NaN
3   4  alice   19      F    30000
4   5  david   37      Z  6556565

Dataset after handling incorrect gender:
    id   name  age gender income
0   1   john   25      M  50000
2   3   bane   42      F    NaN
3   4  alice   19      F  30000

Dataset after handling incorrect income:
    id  name  age gender income
0   1  john   25      M  50000
2   3  bane   42      F    NaN

Dataset after handling incorrect values
   id  name  age gender income
0   1  john   25      M  50000
2   3  bane   42      F    NaN

## Handling Inconsistent Data (format bigreyko)
data series or data column lai ki condition diney ki function apply garney

In [10]:
# Create a dummy dataset
data = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'country': ['USA', 'U.S.A.', 'United States', 'Canada', 'Mexico'],
    'date': ['2021-01-01', '01/01/2021', '2021-01-01', '2021-01-01', '01-01-2021']
})

# Define rules for resolving inconsistencies
country_codes = {
    'USA': 'US',
    'U.S.A.': 'US',
    'United States': 'US',
    'Canada': 'CA',
    'Mexico': 'MX'
}
print("Inconsistent Data")
print(data)

def parse_date(date_str):
    if '-' in date_str:
        return date_str
    elif '/' in date_str:
        parts = date_str.split('/')
        return f'{parts[2]}-{parts[0]}-{parts[1]}'
    else:
        parts = date_str.split('-')
        return f'{parts[2]}-{parts[1]}-{parts[0]}'

# Apply rules to the data
data['country'] = data['country'].apply(lambda x: country_codes.get(x)) # give value from key
data['date'] = data['date'].apply(parse_date)
print("here")
print(data['date'].apply(parse_date))

# Verify the results
print("\nConsistent Data")
print(data)

Inconsistent Data
   id        country        date
0   1            USA  2021-01-01
1   2         U.S.A.  01/01/2021
2   3  United States  2021-01-01
3   4         Canada  2021-01-01
4   5         Mexico  01-01-2021
here
0    2021-01-01
1    2021-01-01
2    2021-01-01
3    2021-01-01
4    01-01-2021
Name: date, dtype: object

Consistent Data
   id country        date
0   1      US  2021-01-01
1   2      US  2021-01-01
2   3      US  2021-01-01
3   4      CA  2021-01-01
4   5      MX  01-01-2021

# Assignment

In [11]:
# Create a dummy dataset
data = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'country': ['USA', 'U.S.A.', 'United States', 'Canada', 'Mexico'],
    'date': ['2021-01-01', '01/01/2021', '2021-01-01', '2021-01-01', '01-01-2021']
})

# Define rules for resolving inconsistencies
country_codes = {
    'USA': 'US',
    'U.S.A.': 'US',
    'United States': 'US',
    'Canada': 'CA',
    'Mexico': 'MX'
}
print("Inconsistent Data")
print(data)

def parse_date(date_str):
    if '-' in date_str:
        parts = date_str.split('-')
        if len(parts[0]) != 4:
            year=max(parts)
            return f'{year}-{parts[1]}-{parts[0]}'
        else:
            return date_str
    elif '/' in date_str:
        parts = date_str.split('/')
        return f'{parts[2]}-{parts[0]}-{parts[1]}'

# Apply rules to the data
data['country'] = data['country'].apply(lambda x: country_codes.get(x))
data['date'] = data['date'].apply(parse_date)

# Verify the results
print("\nConsistent Data")
print(data)

Inconsistent Data
   id        country        date
0   1            USA  2021-01-01
1   2         U.S.A.  01/01/2021
2   3  United States  2021-01-01
3   4         Canada  2021-01-01
4   5         Mexico  01-01-2021

Consistent Data
   id country        date
0   1      US  2021-01-01
1   2      US  2021-01-01
2   3      US  2021-01-01
3   4      CA  2021-01-01
4   5      MX  2021-01-01