# Function

''' python
def name(arg1, arg2, ...):
    do x=(arg1+arg2)
    return x '''

In [1]:
def square(x):
    y=x**2
    return y

In [2]:
print(square(2))

4

In [3]:
# global variable: define outside the function
# local variable: define inside the function

In [4]:
def power(x,y):
    z=x**y
    return x,y,z

In [5]:
x,y,z=power(2,3)
x,y,z

(2, 3, 8)

In [6]:
def power(x=1,y=2):
    z=x**y
    return x,y,z

In [7]:
x,y,z=power(y=3)
x,y,z

(1, 3, 1)

In [8]:
def power(x=1,y=2):
    z=x**y
    return {'x':x,'y':y,'z':z}

In [9]:
a=power()
a

{'x': 1, 'y': 2, 'z': 1}

In [10]:
a['x']

1

In [11]:
for i in a:
    print (f"{i}:{a[i]}")

x:1
y:2
z:1

# args and kwargs

In [12]:
def fun(*args, **kwargs):
    for i in args:
        print(i)
    for key,val in kwargs.items():
        print (key,val)

In [23]:
fun(1,'abc',name='vrit', address='lalitpur') 
#1 and abc are positional argument...later defined...called positional because value based on position
#name and adress are key arguement...instant defined...called key arguement because value based on key

1
abc
name vrit
address lalitpur

In [3]:
def fun2(*args):
    sum=0
    for i in args:
        for j in i:
            sum=sum+j
        print(sum)

In [4]:
fun2([1,2,3],(4,5,6,7),[1,1,1,1,1,1],[45,7,895,23,4])

6
28
34
1008

In [5]:
a=[1,2,3]
b=[4,5,6,4]

In [6]:
fun2(a,b)

6
25

# list Comprehension

In [24]:
a=[1,2,3]
b=[i**2 for i in a]
b

[1, 4, 9]

In [30]:
b=[i**2 for i in a if i%2==0]
b

[4]